@charset "utf-8";
/* CSS Document */
div
{
	vertical-align: top;
}
a
{
	color: #1EA9E0;
	
	text-decoration: none;
}
a.head
{
	color: #000000;
	font-size: 23px;
	text-align-last: center;
	vertical-align :middle;
}
span.head
{
	font-size: 22px;
}